mixin features()
  +b.features
    .container
      +b.feature
        img(src='./assets/images/feature--price.png' srcset='./assets/images/feature--price.png 1x, ./assets/images/feature--price@2x.png 2x' alt="" width="48" height="48")
        | Best Price

      +b.feature
        img(src='./assets/images/feature--availability.png' srcset='./assets/images/feature--availability.png 1x, ./assets/images/feature--availability@2x.png 2x' alt="" width="48" height="48")
        | Availability

      +b.feature
        img(src='./assets/images/feature--get.png' srcset='./assets/images/feature--get.png 1x, ./assets/images/feature--get@2x.png 2x' alt="" width="48" height="48")
        | See What You Get
