.features
  padding 44px 0 85px

  +above(768px)
    padding 133px 0 119px
    font-size 20px

  // +above(1024px)
  //   font-size 29px

  .container
    +above(768px)
      display flex
      justify-content space-between

.feature
  text-align center

  &:first-child
    order 1

    +above(768px)
      order 3

  &:nth-child(2)
    order 2

    +above(768px)
      border-right 1px solid #bcbcbc

  &:nth-child(3)
    order 3

    +above(768px)
      order 1
      border-right 1px solid #bcbcbc

  +above(768px)
    width 33.3333%

  &:not(:last-child)
    margin-bottom 55px

    +above(768px)
      margin-bottom 0

  img
    display block
    margin 0 auto 26px

    +above(768px)
      height 97px
      width auto
