.about-qty
  padding 40px 0 35px
  text-align center

  +above(768px)
    padding 84px 0
    font-size 23px

  h2
    margin 0 0 47px
    font-size 19px
    line-height 1.7
    text-transform uppercase

    +above(768px)
      font-size 38px

  .qty
    display block
    margin-bottom 35px
    font-family 'Avenir Light'
    font-size 69px

    +above(768px)
      font-size 148px
