.popular
  margin-top 82px

  +above(768px)
      margin-top 154px

  &__container
    margin-top 60px
    display flex
    flex-wrap wrap
    justify-content space-between

    +above(768px)
      margin-top 100px
      justify-content flex-start

  &__item
    width calc((100% - 5px)/2)
    margin-bottom 5px

    +above(768px)
      width calc((100% - 25px)/6)
      margin-left 2px
      margin-right 2px

    &:first-child,
    &:nth-child(7)
      +above(768px)
        margin-left 0

    &:last-child
      +above(768px)
        margin-right 0

  a, img
    display block
