mixin popular()
  -var videos = ['video1', 'video2', 'video3', 'video4', 'video5', 'video6', 'video7', 'video8', 'video9', 'video10', 'video11', 'video12']
  +b.popular
    .container
      h2.block-title popular videos
      span Check out our top performing videos

      +e.container
        each val in videos
          +e.item
            //- a(href="#")
            //-   img(src=`./assets/images/${val}.jpg` srcset=`./assets/images/${val}.jpg 1x, ./assets/images/${val}@2x.jpg 2x` alt="" width="144" height="81")
            a(href="#" style=`display: block; height: 160px; background-image: url(assets/images/${val}@2x.jpg); background-size: cover; background-position: center;`)
