include ../bemto/bemto.pug

include ../blocks/scripts/scripts

include ../blocks/header/header--about--he
include ../blocks/about_hero/about_hero--he
include ../blocks/about_lead/about_lead--he
include ../blocks/about_qty/about_qty--he
include ../blocks/about_clients/about_clients--he
include ../blocks/footer/footer
-
  set_bemto_settings({
    prefix: '',
    element: '__',
    modifier: '--'
  })

doctype html
html(lang='ru')
  include ../blocks/head/head
  body.he
    +header--about--he()
    +about_hero--he()
    +about_lead--he()
    +about_qty--he()
    +about_clients--he()
    +footer()
    block scripts
    +scripts(['https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js', 'build.js'])
