include ../bemto/bemto.pug

include ../blocks/scripts/scripts

include ../blocks/header/header--about
include ../blocks/about_hero/about_hero
include ../blocks/about_lead/about_lead
include ../blocks/about_qty/about_qty
include ../blocks/about_clients/about_clients
include ../blocks/footer/footer
-
  set_bemto_settings({
    prefix: '',
    element: '__',
    modifier: '--'
  })

doctype html
html(lang='ru')
  include ../blocks/head/head
  body
    +header--about()
    +about_hero()
    +about_lead()
    +about_qty()
    +about_clients()
    +footer()
    block scripts
    +scripts(['https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js', 'build.js'])
