include ../bemto/bemto.pug

include ../blocks/scripts/scripts

include ../blocks/header/header--inner
include ../blocks/gallery-hero/gallery-hero
include ../blocks/gallery/gallery
include ../blocks/pagination/pagination
include ../blocks/footer/footer
-
  set_bemto_settings({
    prefix: '',
    element: '__',
    modifier: '--'
  })

-var videos = ['video1', 'video2', 'video3', 'video4', 'video5', 'video6', 'video7', 'video8']

doctype html
html(lang='ru')
  include ../blocks/head/head
  body
    +header--inner()
    +gallery-hero()
    +gallery()
    +pagination()
    +footer()
    block scripts
    +scripts(['https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js', 'build.js'])