
include ../bemto/bemto.pug

include ../blocks/header/header
include ../blocks/hero/hero
include ../blocks/collections/collections
include ../blocks/features/features
include ../blocks/offers/offers
include ../blocks/popular/popular
include ../blocks/footer/footer
include ../blocks/scripts/scripts

-
  set_bemto_settings({
    prefix: '',
    element: '__',
    modifier: '--'
  })

doctype html
html(lang='ru')
  include ../blocks/head/head
  body
    +header()
    +hero()
    +collections()
    +features()
    +offers()
    +popular()
    +footer()
    block scripts
    +scripts(['https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js', 'build.js'])
