
include ../bemto/bemto.pug

include ../blocks/header/header--he
include ../blocks/hero/hero--he
include ../blocks/collections/collections--he
include ../blocks/features/features--he
include ../blocks/offers/offers--he
include ../blocks/popular/popular--he
include ../blocks/footer/footer
include ../blocks/scripts/scripts

-
  set_bemto_settings({
    prefix: '',
    element: '__',
    modifier: '--'
  })

doctype html
html(lang='ru')
  include ../blocks/head/head
  body.he
    +header--he()
    +hero--he()
    +collections--he()
    +features--he()
    +offers--he()
    +popular--he()
    +footer()
    block scripts
    +scripts(['https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js', 'build.js'])
