.pagination
  margin-top 45px
  display flex
  justify-content center
  align-items center
  line-height 30px

  +above(768px)
    margin-top 83px

  a
    text-decoration none
    color #2b2b2b

  &__first
    margin-right 10px
    width 47px
    height 31px
    border 1px solid rgb(204, 211, 211)
    border-radius 2px
    text-align center

  &__total
    margin-left 10px
    color #36c6f4

  &__next
    margin-left 22px
    display flex
    align-items center
    justify-content center
    width 100px
    height 31px
    border 1px solid rgb(204, 211, 211)
    border-radius 2px
    text-align center

    svg
      margin-left 5px

  & + .footer
    margin-top 45px

    +above(768px)
      margin-top 53px
