mixin pagination()
  +b.pagination
    +e.A.first(href="#") 1
    span of
    +e.SPAN.total 100
    +e.A.next(href="#")
      | Next
      svg(xmlns='http://www.w3.org/2000/svg', viewBox="0 0 10 18" width='10', height='18')
        path(fill-rule='evenodd', fill='#36C6F4', d='M9.744 9.027c0 .14-.057.263-.15.353v.002l-8.436 8.164c-.095.093-.22.14-.343.14-.13 0-.26-.052-.356-.152-.19-.197-.186-.51.01-.7L8.54 9.028.47 1.22C.275 1.03.27.716.46.52.65.324.96.318 1.157.51l8.435 8.16c0 .002 0 .003.002.004.092.09.15.215.15.353z')
