.header
  height 36px
  position absolute
  left 0
  top 0
  width 100%
  display flex
  justify-content space-between
  background-color rgba(16, 13, 45, 0.3)
  z-index 9

  +above(768px)
    height 69px

  .container
    padding-right 0
    display flex
    justify-content space-between
    align-items stretch

  &__logo
    height 36px
    display flex
    align-items center

    +above(768px)
      height 69px

  img
    +above(768px)
      width 236px

  &__links
    display flex
    align-items center
    color #fff

  &__lang
    height 36px
    display flex
    align-items center
    position relative
    padding-right 16px
    font-size 12px
    padding-left 15px
    cursor pointer

    +above(768px)
      height 69px
      font-size 17px
      padding-left 25px

    &:before
      content ''
      width 5px
      height 5px
      border-bottom 1px solid #3eb7df
      border-left 1px solid #3eb7df
      position absolute
      left 0
      top 50%
      transform rotate(-45deg)
      margin-top -5px

      +above(768px)
        width 10px
        height 10px
        margin-top -10px

    &.is-menu-visible

      .header__lang-menu
        opacity 1
        visibility visible

  &__lang-menu
    padding 10px 0
    position absolute
    left 0
    top 100%
    width 100%
    background-color #212135
    text-align center
    z-index 9
    opacity 0
    visibility hidden
    transition all 0.3s ease-in-out

    a
      display block
      color #ffffff
      text-decoration none

      &:first-child
        margin-bottom 10px

  &__map
    height 36px
    margin-right 40px

    +above(768px)
      height 69px

    a
      display flex
      align-items center
      height 100%
      color #ffffff
      text-decoration none

    svg
      width 11px
      height 16px
      margin-right 14px
      display inline-block
      vertical-align middle

  &__login
    margin-right 40px

    a
      height 36px
      display flex
      align-items center
      color #ffffff
      text-decoration none

      +above(768px)
        height 69px

  &__cart
    padding 0 16px 0 0
    position relative
    height 36px
    display flex
    align-items center

    +above(768px)
      height 69px
      padding 0 27px 0 37px
      border-left 1px solid #4a4854

    svg
      width 16px

      +above(768px)
        width 30px

  &__cart-info
    position absolute
    top 5px
    right 11px
    width 11px
    height 11px
    border-radius 50%
    font-size 8px
    text-align center
    background-color #36c6f4

    +above(768px)
      width 20px
      height 20px
      top 10px
      right 20px
      font-size 15px

    span
      position absolute
      top 50%
      left 50%
      line-height 1
      transform translate(-50%, -35%)

  &__menu-icon
    position relative
    width 36px
    height 36px
    border-left 1px solid #696969

    +above(768px)
      display none

    .line
      display block
      position absolute
      left 9px
      top 14px
      width 17px
      height 1px
      background-color #fff

      &:nth-child(2)
        top 50%

      &:last-child
        top 22px

  &__menu
    position fixed
    width 100%
    top 70px
    left 0
    background-color #f4f4f4
    z-index 9
    transform translateX(100%)
    transition transform 0.1s ease-in-out

    a
      display block
      padding 14px 40px
      font-size 14px
      color #2f2f2f
      text-decoration none
      border-top 1px solid #c8c8c8

      &:last-child
        border-bottom 1px soslid #c8c8c8

      svg
        margin-right 8px
        display inline-block
        vertical-align middle

.is-menu-visible

  .header__menu
    transform translateX(0)

.header--inner
  background-color #38384c

  .header__search
    margin 0 10px
    position relative
    width 40%
    border-left 1px solid #696969

  input
    width 100%
    height 69px
    padding 0 79px 0 35px
    border none
    outline none
    appearance none
    background-color transparent
    color #898989
    font-size 18px

  .header__search-icon
    position absolute
    top 0
    right 0
    width 69px
    height 69px
    background-color #00c7f8

    svg
      position absolute
      left 17px
      top 17px

.header-inner-search
    position absolute
    width 100px
    top 36px
    left 0
    position relative
    width 100%

    +above(768px)
      margin-top 0
      margin-bottom 58px

    input
      width 100%
      height 36px
      padding 0 45px 0 13px
      font-size 11px
      color #565656
      background-color #fff
      border none
      outline none
      appearance none
      border-radius 0

      +above(768px)
        height 76px
        font-size 25px

.header-inner-search-icon
  display inline-block
  width 36px
  height 36px
  position absolute
  top 0
  right 0
  background-color #40c6f1

  +above(768px)
    width 76px
    height 76px

  svg
    width 16px
    height 17px
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -50%)

    +above(768px)
      width 36px
      height 38px

.header-inner-filters
  position absolute
  width 100%
  top 72px
  left 0
  height 34px
  display flex
  justify-content space-between
  align-items center
  flex-wrap wrap
  background-color #4c4c4c

  +above(768px)
    display block
    // padding 94px 42px
    position fixed
    left auto
    right 0
    top 0
    width 95px
    height 100%
    transition all 0.2s ease-in-out
    z-index 8

  &.is-open
    +above(768px)
      width 336px
      // overflow auto

    .js-open-filters
      align-self flex-end
      +above(768px)
        margin 0
        transform rotate(-90deg)

    .filters
      opacity 1
      visibility visible

  svg:first-child
    width 16px
    height 16px

  .js-open-filters
    transition all 0.2s ease-in-out
    svg
      width 11px
      height 14px

      +above(768px)
        width 24px
        height 30px

    +above(768px)
      display block
      width 24px
      height 30px
      transform rotate(90deg)
      margin 0 auto

.filters
  width 100%
  font-size 15px
  color #b9b9b9
  opacity 0
  visibility hidden
  transition all 0.2s ease-in-out

  +above(768px)
    margin-top 39px

  h2
    margin 0 0 30px
    font-size 15px
    font-weight normal
    text-transform uppercase

  &__container

    &:not(:last-child)
      margin-bottom 70px

  &__item
    padding 7px 12px
    color #ffffff
    background-color #5b5b5b
    cursor pointer

    &:not(:last-child)
      margin-bottom 12px

.filters-content
  padding 8px 12px 0
  
  +above(768px)
    padding 94px 42px

.filters-category
  height 390px

.gilters-cameras
  height 244px

.slimScrollDiv:not(:first-child)
  padding-right 53px

.slimScrollDiv + h2
  margin-top 70px

.slimScrollBar,
.slimScrollRail
  border-radius 0 !important

.he

  .header__map
    margin-left 53px
    svg
      margin-right 0
      margin-left 14px

  .header__search
    direction rtl
    border-right 1px solid #5b5b5b
    flex-grow 0.2
    margin-left auto

  .header--inner input
    padding 0 35px 0 79px

  .header__search-icon
    right auto
    left 0


