mixin header--about--he()
  .svg-sprite
    include ../sprite/svg.svg
  +b.header--inner
    .container
      +e.A.logo(href="/")
        img(src='./assets/images/logo.png' srcset='./assets/images/logo.png 1x, ./assets/images/logo@2x.png 2x' alt="" width="90" height="10")
      +e.DIV.search.is-desktop-only
        input(type="text" placeholder="מצאו את תצלום האוויר המושלם")
        +e.search-icon
          <svg xmlns="http://www.w3.org/2000/svg" width="35" height="37">
            <path fill-rule="evenodd" stroke="#FFF" fill="#FFF" d="M29.485 30.47l-7.378-7.774c1.882-1.912 3.047-4.547 3.047-7.454 0-5.824-4.677-10.562-10.427-10.562S4.3 9.418 4.3 15.242c0 5.825 4.677 10.563 10.427 10.563 2.524 0 4.84-.914 6.646-2.43l7.396 7.79c.096.104.226.155.357.155.124 0 .248-.047.344-.14.198-.193.204-.51.015-.71zM14.727 24.8c-5.202 0-9.434-4.288-9.434-9.558s4.232-9.556 9.434-9.556c5.202 0 9.434 4.286 9.434 9.556S19.93 24.8 14.728 24.8z"/>
          </svg>
      +e.links
        +e.map.is-desktop-only
          a(href="#")
            | מפה
            <svg xmlns="http://www.w3.org/2000/svg" viewox="0 0 11 16">
              <path fill-rule="evenodd" fill="#FFF" d="M5.45.005C2.45.005.01 2.37.01 5.278c0 2.798 4.936 9.337 5.146 9.614l.196.258c.023.03.06.05.098.05.04 0 .075-.02.1-.05l.195-.258c.21-.277 5.145-6.816 5.145-9.614C10.89 2.37 8.45.005 5.45.005zm0 3.385c1.075 0 1.95.846 1.95 1.888 0 1.04-.875 1.89-1.95 1.89-1.074 0-1.948-.85-1.948-1.89 0-1.042.874-1.888 1.948-1.888z"/>
            </svg>

        +e.login.is-desktop-only
          a(href="#") הרשמה
        +e.lang.js-show-lang
          |He
          +e.lang-menu
            a(href="#") En
            a(href="#") He
        +e.cart
          <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 31 22"><path fill-rule="evenodd" fill="#FFF" d="M30.794 1.762l-5.542 12.64c-.202.44-.626.72-1.112.72H8.91c-.545 0-1.03-.36-1.172-.882L5.035 2.425h-3.48C.89 2.425.343 1.885.343 1.22.342.56.888.02 1.556.02h4.39c.545 0 1.03.36 1.172.882L9.82 12.715h13.51l4.49-10.23H12.094c-.667 0-1.213-.542-1.213-1.204 0-.662.546-1.203 1.213-1.203h17.59c.403 0 .787.2 1.01.54.222.343.263.764.1 1.145zm-19.82 14.242c1.518 0 2.75 1.223 2.75 2.73 0 1.503-1.232 2.727-2.75 2.727-1.516 0-2.75-1.223-2.75-2.727 0-1.506 1.234-2.73 2.75-2.73zm10.684 0c1.516-.1 2.83 1.043 2.932 2.528.04.742-.182 1.444-.667 1.986-.486.562-1.153.883-1.88.943h-.203c-1.436 0-2.63-1.123-2.73-2.547-.102-1.485 1.03-2.81 2.548-2.91z"/></svg>
          +e.cart-info
            span 0
        +e.menu-icon.js-show-menu
          span.line
          span.line
          span.line
        +e.menu
          a(href="#")
            | Map
            <svg xmlns="http://www.w3.org/2000/svg" width="11" height="16"><path fill-rule="evenodd" fill="#2F2F2F" d="M5.45.005C2.45.005.01 2.37.01 5.278c0 2.798 4.936 9.337 5.146 9.614l.196.258c.023.03.06.048.098.048.04 0 .075-.018.1-.048l.195-.258c.21-.277 5.144-6.816 5.144-9.614C10.89 2.37 8.45.005 5.45.005zm0 3.384c1.075 0 1.95.847 1.95 1.888 0 1.04-.875 1.89-1.95 1.89-1.074 0-1.948-.85-1.948-1.89s.874-1.89 1.948-1.89z"/></svg>
          a(href="#")
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill-rule="evenodd" fill="#2F2F2F" d="M15.157 15.807H3.447c-.36 0-.652-.29-.652-.65V10.6c0-.36.292-.65.65-.65.36 0 .65.29.65.65v3.904h10.41V1.494H4.096v3.904c0 .36-.29.65-.65.65-.358 0-.65-.29-.65-.65V.843c0-.36.292-.65.65-.65h11.712c.36 0 .65.29.65.65v14.313c0 .36-.29.65-.65.65zM6.24 5.857c-.255-.254-.255-.665 0-.92.253-.253.665-.253.92 0l2.6 2.603h.002c.015.015.03.03.042.047l.018.024.02.03.017.027.015.026.014.03.012.028.01.03c.005.01.01.02.012.03l.007.03.01.033c0 .01.003.023.004.034l.005.028c.003.044.003.087 0 .13l-.006.028c0 .01-.003.023-.005.034l-.01.032c0 .01-.003.02-.006.03l-.01.03-.012.03-.013.027-.015.03-.016.025-.018.03c-.006.01-.013.018-.02.027l-.018.022c-.013.017-.027.033-.042.048l-2.603 2.602c-.255.255-.667.255-.92 0-.255-.254-.255-.666 0-.92L7.73 8.65H.843c-.36 0-.65-.29-.65-.65 0-.36.29-.65.65-.65H7.73L6.24 5.857z"/></svg>
            | Login
          a(href="#")
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill-rule="evenodd" fill="#2F2F2F" d="M15.27 4.846c-.21.212-.555.212-.767 0l-1.09-1.09c-.316.063-.646-.033-.88-.267-.24-.24-.328-.572-.267-.88l-1.09-1.09c-.212-.213-.212-.557 0-.77.212-.21.556-.21.768 0l1.09 1.09c.308-.06.64.03.88.268.24.24.328.572.267.88l1.09 1.09c.213.212.213.556 0 .768zM11.96 3.792l.272.272c.466.467.466 1.222 0 1.688l-.852.852c-.144.144-.222.334-.222.536v1.74c0 .204.078.394.222.537l.852.853c.466.466.466 1.22 0 1.687l-.272.272c-.466.465-1.223.465-1.688 0l-.852-.853c-.143-.143-.334-.222-.536-.222h-1.74c-.204 0-.394.08-.537.222l-.853.852c-.465.465-1.222.465-1.687 0l-.272-.273c-.466-.465-.466-1.222 0-1.688l.852-.853c.143-.143.222-.333.222-.536V7.14c0-.202-.08-.393-.222-.536l-.852-.852c-.466-.465-.466-1.222 0-1.688l.272-.272c.465-.465 1.222-.465 1.687 0l.853.852c.143.143.333.223.536.223h1.742c.202 0 .393-.08.536-.223l.852-.852c.465-.465 1.222-.465 1.688 0zM8.715 7.468H7.307c-.3 0-.542.243-.542.543 0 .3.243.544.542.544h1.408c.3 0 .543-.243.543-.543 0-.3-.243-.542-.543-.542zm-4.958-4.86c.06.31-.03.642-.267.88-.24.24-.57.33-.88.27L1.52 4.845c-.213.212-.556.212-.768 0-.212-.212-.212-.556 0-.768l1.09-1.09c-.06-.308.028-.64.266-.88.24-.24.57-.328.88-.267L4.08.75c.213-.21.556-.21.768 0 .212.213.212.557 0 .768l-1.09 1.09zM1.52 11.177l1.09 1.09c.31-.063.64.028.88.266.238.24.327.572.266.88l1.09 1.09c.212.212.212.556 0 .768-.212.212-.555.212-.767 0l-1.092-1.09c-.317.062-.646-.034-.88-.267-.238-.24-.327-.57-.267-.88l-1.09-1.09c-.21-.212-.21-.556 0-.767.213-.213.557-.213.77 0zm10.745 2.237c-.06-.31.03-.64.268-.88.24-.24.57-.33.88-.268l1.09-1.09c.212-.21.556-.21.768 0 .213.213.212.556 0 .77l-1.09 1.088c.062.31-.028.64-.267.88-.238.24-.57.33-.88.268l-1.09 1.09c-.212.212-.556.212-.767 0-.212-.212-.212-.556 0-.767l1.09-1.09z"/></svg>
            | About
          a(href="#")
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="11"><path fill-rule="evenodd" fill="#2F2F2F" d="M14.92 10.64c-.25.243-.554.366-.908.366H2.184c-.354 0-.657-.123-.908-.367-.252-.247-.378-.54-.378-.886v-6.21c.236.256.506.483.812.68 1.94 1.284 3.27 2.183 3.993 2.7.306.218.554.39.744.512.19.122.443.247.76.375.315.13.61.192.883.192h.016c.274 0 .568-.063.884-.19.316-.13.57-.254.76-.376.19-.123.437-.294.743-.513.91-.64 2.244-1.54 4-2.698.307-.203.575-.43.805-.68v6.21c0 .344-.126.638-.378.884zm-.996-7.252c-2.014 1.36-3.268 2.208-3.76 2.542-.054.036-.168.116-.342.238-.174.123-.32.222-.434.298-.115.075-.255.16-.418.254-.163.093-.317.164-.462.21-.145.048-.28.07-.402.07H8.09c-.123 0-.257-.022-.402-.07-.144-.046-.3-.117-.462-.21-.163-.094-.303-.18-.418-.254-.115-.076-.26-.175-.434-.298l-.34-.238c-.49-.334-1.19-.81-2.107-1.427-.916-.618-1.465-.99-1.647-1.115-.332-.22-.645-.52-.94-.904-.295-.383-.442-.74-.442-1.067 0-.407.11-.745.334-1.017.222-.27.54-.406.952-.406h11.828c.348 0 .65.122.904.367.255.246.382.54.382.885 0 .412-.13.805-.394 1.18-.262.376-.59.697-.98.963z"/></svg>
            | Contact Us
          a(href="#")
            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14"><path fill-rule="evenodd" fill="#2F2F2F" d="M12.6 0H1.4C.63 0 0 .63 0 1.4V14l2.8-2.8h9.8c.77 0 1.4-.63 1.4-1.4V1.4c0-.77-.63-1.4-1.4-1.4z"/></svg>
            | Chat

  .header-inner-search.is-mobile-only
      input(type="text" placeholder="Find the perfect drone video")
      .header-inner-search-icon
        svg(xmlns='http://www.w3.org/2000/svg', viewbox="0 0 32 34")
          path(fill-rule='evenodd', fill='#005C7A', d='M31.724 32.653l-9.244-9.758c2.358-2.4 3.82-5.708 3.82-9.357 0-7.312-5.86-13.26-13.065-13.26C6.032.277.172 6.225.172 13.537c0 7.31 5.86 13.26 13.063 13.26 3.162 0 6.064-1.148 8.326-3.052l9.267 9.782c.122.13.285.194.448.194.156 0 .31-.06.43-.176.25-.242.256-.642.02-.893zm-18.49-7.118c-6.516 0-11.818-5.382-11.818-11.997 0-6.616 5.302-11.998 11.82-11.998 6.517 0 11.818 5.382 11.818 11.998 0 6.615-5.302 11.997-11.82 11.997z')

