mixin footer()
  +b.footer
    .container
      +e.menu
        +e.menu-item
          h3 company
          ul
            li
              a(href="#") About Us
            li
              a(href="#") Contact Us
            li
              a(href="#") Login
            li
              a(href="#") Chat
        +e.menu-item
          h3 video types
          ul
            li
              a(href="#") Nature
            li
              a(href="#") Urbanic
            li
              a(href="#") Cultures
            li
              a(href="#") Transportations
            li
              a(href="#") Oceans
        +e.menu-item.is-desktop-only
          ul
            li
              a(href="#") Industry
            li
              a(href="#") Cities
            li
              a(href="#") Villages
            li
              a(href="#") Fields
            li
              a(href="#") Streets
        +e.menu-item.is-desktop-only
          ul
            li
              a(href="#") Industry
            li
              a(href="#") Cities
            li
              a(href="#") Villages
            li
              a(href="#") Fields
            li
              a(href="#") Streets
        +e.menu-item
          h3 community
          ul
            li
              a(href="#") Blog
            li
              a(href="#") Facebook
            li
              a(href="#") Instagram
            li
              a(href="#") Youtube
        +e.menu-item.is-mobile-only
          h3 help
          ul
            li
              a(href="#") help 1
            li
              a(href="#") help 2
            li
              a(href="#") help 3
            li
              a(href="#") help 4
    +e.logo
      img(src=`./assets/images/logo--footer.png` srcset=`./assets/images/logo--footer.png 1x, ./assets/images/logo--footer@2x.png 2x` alt="" width="155" height="18")
