.footer
  margin-top 100px
  padding-top 30px
  padding-bottom 112px
  background-color #2f2f2f
  color #fff

  +above(768px)
    margin-top 147px
    padding-top 100px

  &__logo
    text-align center

    img
      +above(768px)
        width 310px

  &__menu
    width 155px
    margin 0 auto 33px
    display flex
    flex-direction column

    +above(768px)
      margin 0 auto 112px
      width 100%
      flex-direction row
      justify-content space-around

    ul
      height 0
      transform scaleY(0)
      transform-origin top
      overflow hidden
      margin 0
      padding 0
      list-style none
      transition all 0.3s ease-in-out

      +above(768px)
        height auto
        transform none


    .is-visible
      margin-top 20px
      height auto
      transform scaleY(1)
      overflow visible

    a
      font-size 15px
      color #fff
      text-decoration none

    li:not(:last-child)
      margin-bottom 24px

  &__menu-item

    +above(768px)
      width 10%

    &:not(:last-child)
      padding-bottom 19px
      border-bottom 1px solid #504f4f

      +above(768px)
        padding-bottom 0
        border none

    &:not(:first-child)
      padding-top 21px

      +above(768px)
        padding-top 0

  h3
    position relative
    margin 0
    font-family 'Avenir Black'
    font-size 15px
    text-transform uppercase

    +above(768px)
      margin-bottom 20px

    &:after
      content '+'
      color #36c6f4
      position absolute
      right 0
      top 0

      +above(768px)
        display none

  .is-desktop-only
    margin-top calc(1em + 21px)

