mixin about_clients--he()
  +b.about-clients
    .container
      h2 בין לקוחותינו
      .clients-container
        +e.client
          img(src=`./assets/images/customer1.png` srcset=`./assets/images/customer1.png 1x, ./assets/images/customer1@2x.png 2x` alt="" width="31" height="42")
        +e.client
          img(src=`./assets/images/customer2.png` srcset=`./assets/images/customer2.png 1x, ./assets/images/customer2@2x.png 2x` alt="" width="39" height="41")
        +e.client
          img(src=`./assets/images/customer3.png` srcset=`./assets/images/customer3.png 1x, ./assets/images/customer3@2x.png 2x` alt="" width="68" height="46")
        +e.client
          img(src=`./assets/images/customer4.png` srcset=`./assets/images/customer4.png 1x, ./assets/images/customer4@2x.png 2x` alt="" width="84" height="24")
        +e.client
          img(src=`./assets/images/customer5.png` srcset=`./assets/images/customer5.png 1x, ./assets/images/customer5@2x.png 2x` alt="" width="102" height="26")
