.about-clients
  padding 38px 0 6px
  text-align center
  background-color #f4f4f4

  +above(768px)
    padding 63px 0 98px

  & + .footer
    margin-top 0

  h2
    margin 0 0 40px
    font-weight normal

    +above(768px)
      margin 0 0 89px
      font-size 38px

.clients-container
  display flex
  flex-wrap wrap

  +above(768px)
    justify-content center
    align-items center

.about-clients__client
  width 50%
  margin-bottom 24px

  +above(768px)
      width auto
      margin 0 50px 50px

  &:nth-child(odd):last-child
    width 100%

    +above(768px)
      width auto

  &:not(:last-child)
    +above(768px)
      margin-right 110px

