.gallery

  +above(768px)
    padding-right 95px

  &__container
      margin-top 21px
      display flex
      flex-wrap wrap
      justify-content space-between

      +above(768px)
        margin-top 83px
        justify-content flex-start

    &__item
      position relative
      width calc((100% - 5px)/2)
      margin-bottom 5px

      +above(768px)
        width calc((100% - 25px)/6)
        margin-left 2px
        margin-right 2px

      &:hover .gallery__hover
        display flex

      &:first-child,
      &:nth-child(7)
        +above(768px)
          margin-left 0

      &:last-child
        +above(768px)
          margin-right 0

    &__info
      position absolute
      left 0
      top 0
      width 768px
      display none
      background-color #2f2f2f
      transition all 0.3s ease-in-out
      z-index 9

      &.is-visible
        display block
        opacity 1
        visibility visible
        z-index 10

    &__hover
      position absolute
      top 0
      left 0
      width 100%
      height 100%
      background-color rgba(0, 0, 0, 0.6)
      display none
      align-items center
      justify-content center

      img, svg
        width 15px

        +above(768px)
          width 31px

      a:first-child
        margin-right 30px
        margin-left 30px

    &__author
      padding 16px 30px 14px
      display flex
      align-items center
      background-color #ffffff

    &__author-info
      display flex
      align-items center
      flex-shrink 0

    &__author-avatar
      flex-shrink 0
      margin-right 26px
      position relative
      width 64px
      height 64px
      border-radius 50%
      overflow hidden

      img
        position absolute
        top 50%
        left 50%
        transform translate(-50%, -50%)
        height 100%
        width auto
        max-width none

    &__author-name
      margin-right 50px
      font-size 14px
      color #7f7f7f

      span
        display block
        font-size 12px

    &__author-images
      flex-grow 1
      display flex
      align-items center

      a:first-child
        margin-right 21px

      a:last-child
        margin-left 21px

    &__slides
      flex-grow 1
      overflow hidden

    &__slides-container
      position relative
      left 0

      img
        margin 0 4px
        display block
        max-width none
        width calc((100% - 96px)/12)
        float left

.gallery-details
  padding 34px 30px 40px
  color #ffffff

  &__preview
    display flex
    margin-bottom 26px

  &__video
    flex-grow 1

  &__desc
    padding-left 20px

  &__header
    h3
      margin 0 0 17px
      font-size 26px

    span
      display block
      font-size 14px
      color #7f7f7f

    a
      display block
      margin-top 17px
      text-decoration none
      color #36c6f4

  &__content
    margin-top 50px

    input
      width 100%
      height 32px
      padding 0 13px
      border: 1px solid rgb(54, 198, 244)
      appearance none
      outline none
      background-color transparent
      font-size 14px
      color #777777

    .btn
      position relative
      margin-top 17px
      padding 0
      width 100%
      height 57px
      background-color #40c6f1
      border none
      outline none
      appearance none
      display flex
      align-items center

      span:first-child
        margin auto
        padding-left 13px
        display flex
        align-items center
        font-size 20px
        color #1e1e1e

        img
          margin-right 12px
          position relative
          top -2px

      span:last-child
        margin-left auto
        padding 0 20px
        height 57px
        background-color #1e1e1e
        font-family 'Avenir Light'
        font-size 38px
        line-height 62px
        color #fff

        sup
          position relative
          font-size 17px
          top -0.9em
          margin-right 5px

  &__share
    margin-bottom 36px

    a:last-child
      margin-left 22px

  &__tags
    display flex
    align-items center

    svg
      margin-right 25px

    span
      padding 7px 10px
      font-size 14px
      color #7f7f7f
      background-color #1e1e1e

      &:not(:last-child)
        margin-right 5px


.video
  height: 0
  overflow: hidden
  padding-bottom: 56.25%
  position: relative

embed,
object,
iframe
  position absolute
  top 0
  left 0
  width 100%
  height 100%
