-var items = ['video1', 'video2', 'video3', 'video4', 'video5', 'video6', 'video7', 'video8', 'video9', 'video10', 'video11', 'video12']

mixin gallery()
  +b.gallery
    .container
      +e.container
        each val in items
          +e.item
            div(style=`display: block; height: 160px; background-image: url(assets/images/${val}@2x.jpg); background-size: cover; background-position: center;`)
            +e.hover
              a(href="#")
                svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewbox="0 0 38 27" width='38px', height='27px')
                  path(fill-rule='evenodd', fill='rgb(255, 255, 255)', d='M37.864,2.198 L30.974,18.103 C30.722,18.658 30.194,19.012 29.591,19.012 L10.654,19.012 C9.975,19.012 9.371,18.557 9.195,17.901 L5.834,3.032 L1.508,3.032 C0.678,3.032 -0.001,2.351 -0.001,1.518 C-0.001,0.685 0.678,0.003 1.508,0.003 L6.966,0.003 C7.645,0.003 8.248,0.457 8.424,1.114 L11.786,15.982 L28.585,15.982 L34.168,3.107 L14.611,3.107 C13.781,3.107 13.102,2.425 13.102,1.592 C13.102,0.759 13.781,0.077 14.611,0.077 L36.481,0.077 C36.984,0.077 37.462,0.330 37.739,0.759 C38.015,1.188 38.066,1.718 37.864,2.198 ZM13.220,20.121 C15.106,20.121 16.641,21.660 16.641,23.554 C16.641,25.447 15.106,26.987 13.220,26.987 C11.334,26.987 9.800,25.447 9.800,23.554 C9.800,21.660 11.334,20.121 13.220,20.121 ZM26.504,20.120 C28.390,19.994 30.024,21.433 30.150,23.301 C30.201,24.235 29.924,25.119 29.320,25.801 C28.717,26.508 27.887,26.912 26.982,26.987 C26.906,26.987 26.806,26.987 26.730,26.987 C24.944,26.987 23.461,25.574 23.335,23.781 C23.209,21.913 24.618,20.247 26.504,20.120 Z')
              a(href="#")
                img(src='./assets/images/open.png' srcset='./assets/images/open.png 1x, ./assets/images/open@2x.png 2x' alt="" width="31" height="28")
              p link
            +e.info
              +b.gallery-details
                +e.preview
                  +e.video
                    .video
                      iframe(src='http://www.youtube.com/embed/8ItNE_DX6Cc?showinfo=0&iv_load_policy=3&controls=0', frameborder='0', allowfullscreen='')
                  +e.desc
                    +e.header
                      h3 Beautiful Tropic Beach
                      span Submitted on July 18, 2017
                      span Categories: Oceans
                      a(href="#") Specifications >
                    +e.content
                      input(type="text" placeholder="Enter Package number or code coupon")
                      button.btn(type="button")
                        span
                          img(src='./assets/images/button-cart-icon.png' srcset='./assets/images/button-cart-icon.png 1x, ./assets/images/button-cart-icon@2x.png 2x' alt="" width="26" height="18")
                          | Purchase
                        span
                          sup $
                          | 99
                +e.share
                  a(href="#")
                    svg(xmlns='http://www.w3.org/2000/svg', viewbox="0 0 27 26" width='27', height='26')
                      path(fill-rule='evenodd', fill='#B4B4B4', d='M19.12 22.073H5.933c-2.146 0-3.896-1.726-3.896-3.853v-5.497c0-.33.267-.594.6-.594.335 0 .602.263.602.593v5.497c0 1.466 1.207 2.664 2.694 2.664h13.19c1.48 0 2.693-1.193 2.693-2.664v-5.41c0-.33.267-.593.6-.593.335 0 .602.27.602.594v5.41c0 2.122-1.746 3.853-3.896 3.853zm-6.17-4.72c-.116.118-.272.175-.424.175-.15 0-.307-.06-.423-.176l-3.824-3.78c-.237-.232-.237-.606 0-.84.235-.233.613-.233.85 0l2.795 2.766V3.435c0-.33.267-.594.6-.594.335 0 .602.265.602.595v12.063l2.792-2.766c.235-.233.614-.233.85 0 .236.234.236.608 0 .84l-3.82 3.78z')

                  a(href="#")
                    svg(xmlns='http://www.w3.org/2000/svg', viewbox="0 0 25 27" width='25', height='27')
                      path(fill-rule='evenodd', fill='#B4B4B4', d='M18.195 16.406c-1.21 0-2.287.575-2.977 1.463l-5.774-3.22c.135-.388.21-.806.21-1.237 0-.436-.075-.85-.214-1.242l5.77-3.214c.685.893 1.767 1.472 2.98 1.472 2.07 0 3.76-1.68 3.76-3.75 0-2.07-1.686-3.75-3.76-3.75-2.073 0-3.757 1.68-3.757 3.75 0 .435.074.853.214 1.24L8.88 11.135c-.684-.897-1.767-1.472-2.98-1.472-2.07 0-3.758 1.682-3.758 3.75 0 2.07 1.69 3.752 3.762 3.752 1.214 0 2.296-.58 2.986-1.477l5.77 3.22c-.14.39-.218.814-.218 1.25 0 2.064 1.684 3.75 3.757 3.75 2.073 0 3.757-1.68 3.757-3.75 0-2.07-1.69-3.75-3.762-3.75zm0-12.3c1.423 0 2.58 1.156 2.58 2.576 0 1.42-1.157 2.575-2.58 2.575s-2.58-1.155-2.58-2.575c0-1.42 1.162-2.575 2.58-2.575zM5.905 15.99c-1.423 0-2.58-1.155-2.58-2.575 0-1.42 1.157-2.575 2.58-2.575 1.422 0 2.58 1.155 2.58 2.575 0 1.42-1.162 2.575-2.58 2.575zm12.29 6.74c-1.423 0-2.58-1.156-2.58-2.576 0-1.42 1.157-2.575 2.58-2.575s2.58 1.155 2.58 2.575c0 1.42-1.157 2.575-2.58 2.575z')

                +e.tags
                  svg(xmlns='http://www.w3.org/2000/svg', viewbox="0 0 23 19" width='23', height='19')
                    path(fill-rule='evenodd', fill='#B4B4B4', d='M19.058 11.034l-4.336 4.38c-.23.22-.497.33-.804.33-.212 0-.385-.042-.52-.125-.136-.084-.292-.218-.47-.402l4.152-4.184c.218-.22.327-.486.327-.8 0-.31-.11-.58-.327-.81l-6.314-6.357c-.224-.226-.524-.417-.9-.575-.378-.157-.722-.236-1.034-.236h1.978c.312 0 .657.08 1.033.236.377.157.677.35.9.575l6.315 6.356c.218.23.327.5.327.81 0 .315-.11.582-.327.8zm-3.39-1.61c.217.23.326.5.326.81 0 .314-.11.58-.327.8l-4.336 4.38c-.228.22-.496.33-.803.33-.312 0-.576-.11-.794-.33L3.42 9.04c-.225-.22-.415-.52-.57-.9-.157-.38-.235-.726-.235-1.04V3.395c0-.31.112-.576.336-.8.224-.227.49-.34.796-.34H7.42c.31 0 .656.08 1.032.236.377.157.677.35.9.574l6.315 6.357zM6.24 4.298c-.22-.223-.487-.334-.8-.334-.31 0-.577.11-.798.333-.22.222-.33.49-.33.805 0 .314.11.583.33.806.22.223.487.335.8.335.31 0 .577-.112.798-.334.22-.222.33-.49.33-.805 0-.315-.11-.583-.33-.806z')

                  span Water
                  span Sea
                  span Surf
                  span Tropic
                  span Ocean
                  span Blue
                  span Zanzibar

              +e.author
                +e.author-info
                  +e.author-avatar
                    img(src='./assets/images/avatar.jpg' srcset='./assets/images/avatar.jpg 1x, ./assets/images/avatar@2x.jpg 2x' alt="")
                  +e.author-name
                    | By Alex Popovic
                    span Recent videos
                +e.author-images
                  a.js-gallery-prev(href="#")
                    svg(xmlns='http://www.w3.org/2000/svg', viewbox="0 0 18 28", width='18', height='28')
                      path(fill-rule='evenodd', fill='#36C6F4', d='M2.467 12.956L12.81 2.404c.338-.343.886-.345 1.224-.002.34.34.34.9.003 1.242L4.3 13.578l9.737 9.89c.338.344.338.9 0 1.242-.17.172-.39.257-.61.257-.22 0-.444-.085-.613-.257L2.47 14.2c-.338-.345-.338-.898-.003-1.244z')

                  +e.slides
                    +e.slides-container
                      each item in items
                        img.gallery__slide(src=`./assets/images/${item}.jpg` srcset=`./assets/images/${item}.jpg 1x, ./assets/images/${item}@2x.jpg 2x` alt="")
                  a.js-gallery-next(href="#")
                    svg(xmlns='http://www.w3.org/2000/svg', viewbox="0 0 18 28", width='18', height='28')
                      path(fill-rule='evenodd', fill='#36C6F4', d='M14.533 12.956L4.19 2.404c-.34-.343-.886-.345-1.224-.002-.34.34-.34.9-.003 1.242l9.736 9.934-9.737 9.89c-.338.344-.338.9 0 1.242.17.172.39.257.61.257.22 0 .444-.085.612-.257L14.53 14.2c.338-.345.338-.898.003-1.244z')

