.hero
  padding 92px 0 95px
  display flex
  flex-direction column
  align-items center
  background-color #39394d
  color #fff

  +above(768px)
    padding 276px 0 265px
    background-image url('../images/hero-bg.jpg')
    background-size cover
    background-repeat no-repeat
    justify-content center

  h1
    margin 0 0 43px
    max-width 300px
    text-align center
    order 2

    +above(768px)
      display none

  &__search
    margin-top -56px
    margin-bottom 48px
    position relative
    width 100%
    max-width 747px
    order 1

    +above(768px)
      margin-top 0
      margin-bottom 58px
      width 747px

    input
      width 100%
      height 36px
      padding 0 45px 0 13px
      font-size 11px
      color #565656
      background-color #e3e3e6
      border none
      outline none
      appearance none
      border-radius 0

      +above(768px)
        height 76px
        font-size 25px

  &__search-icon
    display inline-block
    width 36px
    height 36px
    position absolute
    top 0
    right 0
    background-color #40c6f1

    +above(768px)
      width 76px
      height 76px

    svg
      width 16px
      height 17px
      position absolute
      top 50%
      left 50%
      transform translate(-50%, -50%)

      +above(768px)
        width 36px
        height 38px

  &__stats
    width 262px
    order 3
    font-size 15px
    text-align center

    +above(768px)
      width 747px
      display flex
      justify-content center
      font-size 29px

    div
      display flex
      flex-direction column

    div:first-child
      margin-bottom 38px

      +above(768px)
        margin-bottom 0
        padding-right 55px
        border-right 1px solid #98969d

    div:last-child
      +above(768px)
        padding-left 55px

    span
      display block

      &:first-child
        margin-bottom 17px

      &:nth-child(3)
        margin-bottom 17px

        +above(768px)
          margin-bottom 0

    .btn
      display block
      padding 8px 0 4px
      color inherit
      text-decoration none
      border 1px solid #fff

      +above(768px)
        width 262px

  .price
    margin-bottom 12px
    white-space nowrap

    +above(768px)
      flex-direction row
      align-items center
      justify-content center

    span
      display inline
      font-size 35px

      +above(768px)
        font-size 70px


.he
  .hero__search
    direction rtl

  .hero__search-icon
    right auto
    left 0
