mixin hero()
  +b.hero
    h1 All best aerial photos in&nbsp;one&nbsp;place

    +e.search
      input(type="text" placeholder="Find the perfect drone video")
      +e.search-icon
        svg(xmlns='http://www.w3.org/2000/svg', viewbox="0 0 32 34")
          path(fill-rule='evenodd', fill='#005C7A', d='M31.724 32.653l-9.244-9.758c2.358-2.4 3.82-5.708 3.82-9.357 0-7.312-5.86-13.26-13.065-13.26C6.032.277.172 6.225.172 13.537c0 7.31 5.86 13.26 13.063 13.26 3.162 0 6.064-1.148 8.326-3.052l9.267 9.782c.122.13.285.194.448.194.156 0 .31-.06.43-.176.25-.242.256-.642.02-.893zm-18.49-7.118c-6.516 0-11.818-5.382-11.818-11.997 0-6.616 5.302-11.998 11.82-11.998 6.517 0 11.818 5.382 11.818 11.998 0 6.615-5.302 11.997-11.82 11.997z')
    +e.stats
      div
        span Stock Videos
        .price
          |$
          span 99
        a.btn(href="#") Save with a pack
      div
        span Drone on demand
        .price
          |$
          span 250
        span in 48hrs
        a.btn.is-mobile-only(href="#") How we do it
