.about-hero
  padding 92px 0 69px
  background-color #39384e
  color #fff
  text-align center

  +above(768px)
    padding 200px 0 189px
    background-image url('../images/hero-about.jpg')
    background-position center
    background-size cover
    background-repeat no-repeat

    +retina()
      background-image url('../images/hero-about@2x.jpg')

  h1
    margin 58px 0 45px
    font-family 'Avenir Heavy'
    font-size 27px
    text-transform uppercase

    +above(768px)
      margin 0
      font-size 52px

  h2
    margin 0 auto
    max-width 162px
    font-size 19px
    line-height 1.7

    +above(768px)
      display none

