mixin about_lead--he()
  +b.about-lead
    .container
      a.btn.is-desktop-only(href="gallery.html") גלה את העולם מלמעלה
      p גלה עולם חדש של תצלומי אוויר מכל העולם, המותאמים בדיוק לצרכים הייחודיים שלך עזור ללקוחות שלך לקבל מבט אחר על המוצר, החברה והסביבה אותם הם מקדמים

  +b.discover
    +e.left
      +e.tile(style="background-image: url(assets/images/tile1.jpg); background-size: cover; background-position: center; background-repeat: no-repeat;")
      +e.tile
        | ערים בארץ ובעולם
      +e.tile
        | תעבורה ותנועה
      +e.tile(style="background-image: url(assets/images/tile2.jpg); background-size: cover; background-position: center; background-repeat: no-repeat;")
    +e.right(style="background-image: url(assets/images/tile-big.jpg); background-size: cover; background-position: center; background-repeat: no-repeat;")

  +b.about-who
    .container
      h2 מי אנחנו וכיצד זה עובד
      p  הינה פלטפורמה לקניית תצלומי אוויר מכל העולם Drone Image Bank הפלטפורמה מחברת בין אלפי מפעילי רחפן מנוסים בכל העולם ומוכרת עבורם את התוכן הדיגיטלי שהם מייצרים. בזכות היכולות, שהחברה פיתחה עם השנים אנו מסוגלים לתת מענה לכל תצלום אוויר הנדרש מאתנו במהירות מירבית, במקצועיות ובמחיר הנמוך בשוק
