.about-lead
  padding 33px 0 37px
  text-align center

  +above(768px)
    padding 138px 0 147px
    background-color #f4f4f4

  .btn
    display block
    max-width 1128px
    height 90px
    line-height 89px
    margin 0 auto 84px
    font-size 28px
    background-color #2f2f2f
    color #fff
    text-decoration none

  p
    margin 0 auto
    max-width 255px
    line-height 1.7

    +above(768px)
      font-size 22px
      max-width 980px

.about-who
  padding 52px 0
  color #fff
  text-align center
  background-color #2f2f2f

  h2
    margin 0 0 47px
    font-size 19px
    line-height 1.7

  p
    margin 0 auto
    max-width 255px
    line-height 1.7

.discover
  display none

  +above(768px)
    display flex

  &__left,
  &__right
    width 50%
    display flex
    flex-wrap wrap

  &__tile
    width 50%
    height 304px
    display flex
    justify-content center
    align-items center

.he
  .about-who

    p
      font-size 22px
      max-width 980px
