mixin about_lead()
  +b.about-lead
    .container
      a.btn.is-desktop-only(href="gallery.html") Discover the world from above
      p Discover what’s possible when your creative process meets our vast and ever-growing video library. Our intuitive platform and tools enable you to innovate and accelerate your creative process by quickly surfacing the best content, while seamlessly integrating into your workflow.
  +b.is-mobile-only.about-who
    .container
      h2 Who We Are
      p Discover what’s possible when your creative process meets our vast and ever-growing video library. Our intuitive platform and tools enable you to innovate and accelerate your creative process by quickly surfacing the best content, while seamlessly integrating into your workflow.

  +b.discover
    +e.left
      +e.tile(style="background-image: url(assets/images/tile1.jpg); background-size: cover; background-position: center; background-repeat: no-repeat;")
      +e.tile
        | Discover Cities
      +e.tile
        | Discover Transportations
      +e.tile(style="background-image: url(assets/images/tile2.jpg); background-size: cover; background-position: center; background-repeat: no-repeat;")
    +e.right(style="background-image: url(assets/images/tile-big.jpg); background-size: cover; background-position: center; background-repeat: no-repeat;")
