.gallery-hero
  margin-top 100px

  +above(768px)
    margin-top 0
    height 600px
    background-image url('/assets/images/gallery-hero.jpg')
    background-position center
    background-size cover
    background-repeat

    +retina()
      background-image url('assets/images/gallery-hero@2x.jpg')

  .container
    +above(768px)
      height 600px
      padding-top 36px
      display flex
      flex-direction column
      justify-content center


  h1
    margin 0
    font-family 'Avenir Heavy'
    font-size 27px
    text-align center
    text-transform uppercase

    +above(768px)
      font-size 53px
      text-align left
      color #ffffff

    & + span
      margin-top 12px
      display block
      text-align center
      color #36c6f4

      +above(768px)
        font-size 29px
        text-align left
