/* Tiny Scrollbar */
#scrollbar1 
  // width: 520px
  // margin: 20px 0 10px

#scrollbar1 .viewport 
  // width: 500px
  // height: 200px
  overflow: hidden
  position: relative

#scrollbar1 .overview 
  list-style: none
  position: absolute
  left: 0
  top: 0
  padding: 0
  margin: 0

#scrollbar1 .scrollbar
  background-color: #6e6e6e
  position: absolute
  top 0
  right 0
  width: 15px

#scrollbar1 .track 
  background-color: #585858
  height: 100%
  width:15px
  position: relative
  padding: 0 1px

#scrollbar1 .thumb 
  background-color: #585858
  width: 25px
  cursor: pointer
  overflow: hidden
  position: absolute
  top: 0
  left: -5px

#scrollbar1 .thumb .end 
  background: transparent url(images/bg-scrollbar-thumb-y.png) no-repeat 50% 0
  overflow: hidden
  height: 5px
  width: 25px

#scrollbar1 .disable 
  display: none

.noSelect 
  user-select: none