main-text-color = #322b34
main-font-family = 'Avenir Roman'

html
  box-sizing border-box

*,
*:before,
*:after
  box-sizing inherit

:disabled, [disabled], [aria-disabled="true"]
  cursor not-allowed

.clearfix:after
    content ""
    display block
    clear both

body
  font-family: main-font-family, sans-serif
  color: main-text-color

a
  -webkit-text-decoration-skip: ink
  text-decoration-skip: ink

.visuallyhidden:not(:focus):not(:active)
  position: absolute
  width: 1px
  height: 1px
  margin: -1px
  border: 0
  padding: 0
  clip-path: inset(100%)
  clip: rect(0 0 0 0)
  overflow: hidden

.svg-sprite
  display none

.container
  width 100%
  max-width 1742px
  margin 0 auto
  padding 0 25px

  +above(1797px)
    padding 0

img
  max-width 100%
  height auto

.is-mobile-only
  +above(768px)
    display none !important

.is-desktop-only
  display none !important
  +above(768px)
    display block !important
