
@font-face
  font-family: 'Avenir Heavy'
  src: url('../fonts/AvenirLTStd-Heavy.woff') format('woff')
  font-weight: 900
  font-style: normal

@font-face
  font-family: 'Avenir Medium'
  src: url('../fonts/AvenirLTStd-Medium.woff2') format('woff2'),
    url('../fonts/AvenirLTStd-Medium.woff') format('woff')
  font-weight: 500
  font-style: normal

@font-face
  font-family: 'Avenir Light'
  src: url('../fonts/AvenirLTStd-Light.woff2') format('woff2'),
    url('../fonts/AvenirLTStd-Light.woff') format('woff')
  font-weight: 300
  font-style: normal

@font-face
  font-family: 'Avenir Black'
  src: url('../fonts/AvenirLTStd-Black.woff2') format('woff2'),
    url('../fonts/AvenirLTStd-Black.woff') format('woff')
  font-weight: 900
  font-style: normal

@font-face
  font-family: 'Avenir Roman'
  src: url('../fonts/AvenirLTStd-Roman.woff') format('woff')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Masterplan'
  src: url('../fonts/MASTERPLAN.woff') format('woff')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Impact'
  src: url('../fonts/Impact.woff2') format('woff2'),
    url('../fonts/Impact.woff') format('woff')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'ArnoPro'
  src: url('../fonts/ArnoPro-Regular.woff2') format('woff2'),
    url('../fonts/ArnoPro-Regular.woff') format('woff')
  font-weight: normal
  font-style: normal

h1
  font-family: 'Avenir Heavy'
  font-size: 35px
  line-height: 38px

.block-title
  margin 0 0 15px
  font-size 26px
  text-align center
  text-transform uppercase
  font-weight normal

  +above(768px)
    font-size 36px

.block-title + span
  display: block
  font-size 15px
  text-align: center

  +above(768px)
    font-size 20px
