mixin offers--he()
  +b.offers
    .container
      h2.block-title חבילות משתלמות
      span מחירים ותכניות

      +b.plans
        +b.plan
          +e.price
            +e.price-header בסיס
            +e.number
              sup $
              span 450
            +e.save חסוך $50
          +e.video
            span 25 HD
            span Clips
            a.btn(href="#") הזמן עכשיו

        +b.plan
          +e.price
            +e.price-header זהב
            +e.number
              sup $
              span 800
            +e.save חסוך $200
          +e.video
            span 10 HD
            span Clips
            a.btn(href="#") הזמן עכשיו

        +b.plan
          +e.price
            +e.price-header פרימיום
            +e.number
              sup $
              span 1850
            +e.save חסוך $650
          +e.video
            span 5 HD
            span Clips
            a.btn(href="#") הזמן עכשיו


