mixin offers()
  +b.offers
    .container
      h2.block-title our offers
      span Prices & Plans

      +b.plans
        +b.plan
          +e.price
            +e.price-header basic
            +e.number
              sup $
              span 450
            +e.save Save $50
          +e.video
            span 5 HD
            span Clips
            a.btn(href="#") Buy Now

        +b.plan
          +e.price
            +e.price-header premium
            +e.number
              sup $
              span 800
            +e.save Save $200
          +e.video
            span 10 HD
            span Clips
            a.btn(href="#") Buy Now

        +b.plan
          +e.price
            +e.price-header corporate
            +e.number
              sup $
              span 1850
            +e.save Save $650
          +e.video
            span 25 HD
            span Clips
            a.btn(href="#") Buy Now


