.plans
  margin 48px auto 0
  max-width 1200px

  +above(768px)
    margin-top 100px
    display flex

.plan
  display flex
  flex-direction column
  border 1px solid #bbbbbb

  +above(768px)
    width 33.3333%

  &:not(:last-child)
    margin-bottom 43px

    +above(768px)
      margin-bottom 0

  &__price,
  &__video
    display flex
    flex-direction column
    align-items center

  &__price
    padding-top 18px
    padding-bottom 34px
    background-color #40c6f1

  &__price-header
    margin-bottom 37px
    font-family 'Avenir Black'
    color #fff
    text-transform uppercase

    +above(768px)
      margin-bottom 55px
      font-size 20px

  &__number
    margin-bottom 16px
    font-family 'Avenir Light'
    font-size 23px
    line-height 1

    +above(768px)
      font-size 46px

    span
      font-size 45px

      +above(768px)
        font-size 62px

    sup
      top -0.6em
      margin-right 0.2em

  &__save
    font-size 14px
    color #fff

    +above(768px)
      font-size 28px

  &__video
    padding 34px 23px 18px
    font-size 20px

    +above(768px)
      font-size 28px

    .btn
      padding 8px 0
      margin-top 29px
      width 100%
      text-align center
      text-decoration none
      color #6cd4f4
      border 1px solid #6cd4f4

      +above(768px)
        font-size 25px

.he
  .offers
    direction rtl
