.collections
  margin-top -38px

  +above(768px)
    margin-top -175px

  h3
    margin 0 0 20px
    font-size 15px
    font-weight normal
    text-align center
    color #fff
    overflow hidden

    +above(768px)
      margin 0 0 73px

    &:before,
    &:after
      content ''
      width 50%
      height 1px
      position relative
      vertical-align middle
      display inline-block
      background-color #fff

    &:before
      right 18px
      margin-left -50%

    &:after
      left 18px
      margin-right -50%

  &__nav
    display none

    +above(768px)
      display flex
      justify-content center
      align-items center

    a
      width 15px
      height 15px
      border-radius 50%
      background-color #949494
      border 1px solid #949494

      &:not(:last-child)
        margin-right 29px

    .active
      background-color #40c6f1
      border 2px solid #2ca1c8

.collection
  display flex
  flex-wrap wrap
  margin 0 -25px

  &--mobile
    +above(768px)
      display none

  &--desktop
    display none
    overflow hidden
    +above(768px)
      display block

  &__container
    position relative
    left 0

  &__group
    float left
    display flex
    flex-wrap wrap
    justify-content space-between

  +above(768px)
    margin 0
    justify-content space-between

  a
    width 100%
    height 156px
    display flex
    justify-content center
    align-items center
    text-align center
    text-transform uppercase
    color #fff
    text-decoration none
    text-shadow 0px 0px 29.12px rgba(70, 62, 44, 0.55)

    +above(768px)
      margin-bottom 20px
      height 200px
      width calc((100% - 20px)/2)

    +above(1200px)
      width calc((100% - 40px)/3)

  &__nature
    font-family 'Masterplan'
    font-size 75px
    background-image url('../images/nature.jpg')
    background-size cover
    background-repeat no-repeat

    +retina()
      background-image url('../images/nature@2x.jpg')

    +above(768px)
      font-size 105px

  &__industrial
    font-family 'Impact'
    font-size 40px
    background-image url('../images/industrial.jpg')
    background-size cover
    background-repeat no-repeat

    +retina()
      background-image url('../images/industrial@2x.jpg')

    +above(768px)
      font-size 49px

    +above(1024px)
      font-size 66px

    +above(1200px)
      font-size 52px

    +above(1500px)
      font-size 66px

  &__urban
    flex-direction column
    font-family 'Impact'
    font-size 60px
    background-image url('../images/urban.jpg')
    background-size cover
    background-repeat no-repeat

    +retina()
      background-image url('../images/urban@2x.jpg')

    +above(768px)
      font-size 92px

    span
      line-height 1
      font-family 'Pacifico'
      text-transform none

      +above(768px)
        font-size 57px

  &__other
    font-family 'Avenir Light'
    font-size 50px
    background-image url('../images/other.jpg')
    background-size cover
    background-repeat no-repeat

    +retina()
      background-image url('../images/other@2x.jpg')

    +above(768px)
      font-size 66px

    +above(1024px)
      font-size 76px

  &__cultures
    font-family 'ArnoPro'
    font-size 40px
    background-image url('../images/cultures.jpg')
    background-size cover
    background-repeat no-repeat

    +retina()
      background-image url('../images/cultures@2x.jpg')

    +above(768px)
      font-size 46px

    +above(1024px)
      font-size 65px

    +above(1200px)
      font-size 50px

    +above(1500px)
      font-size 65px

  &__transportations
    font-family 'Anton'
    font-size 30px
    background-image url('../images/transportations.jpg')
    background-size cover
    background-repeat no-repeat

    +retina()
      background-image url('../images/transportations@2x.jpg')

    +above(768px)
      font-size 33px

    +above(1024px)
      font-size 46px

    +above(1200px)
      font-size 35px

    +above(1500px)
      font-size 46px

