mixin collections--he()
  +b.collections
    .container
      h3 גלו את הגלריות שלנו
      +e.container
        +b.collection.collection--mobile
          +e.A.nature(href="#")
            | nature
          +e.A.urban(href="#")
            span urban
            | life
          +e.A.transportations(href="#")
            | transportations
          +e.A.cultures(href="#")
            | cultures
          +e.A.industrial(href="#")
            | industrial
          +e.A.other(href="#")
            | other

        +b.collection.collection--desktop
          +e.container.clearfix
            +e.group
              +e.A.nature(href="#")
                | nature
              +e.A.industrial(href="#")
                | industrial
              +e.A.urban(href="#")
                span urban
                | life
              +e.A.other(href="#")
                | other
              +e.A.cultures(href="#")
                | cultures
              +e.A.transportations(href="#")
                | transportations
            +e.group
              +e.A.nature(href="#")
                | Block 2
              +e.A.industrial(href="#")
                | Block 2
              +e.A.urban(href="#")
                span big
                |block 2
              +e.A.other(href="#")
                | Block 2
              +e.A.cultures(href="#")
                | block 2
              +e.A.transportations(href="#")
                | block 2
            +e.group
              +e.A.nature(href="#")
                | Block 3
              +e.A.industrial(href="#")
                | Block 3
              +e.A.urban(href="#")
                span big
                |block 3
              +e.A.other(href="#")
                | Block 3
              +e.A.cultures(href="#")
                | block 3
              +e.A.transportations(href="#")
                | block 3
      +e.nav


